@import "./fonts.scss";
@import "./reset";

// Colors
$color-blue: #026aa7;
$color-hover-blue: #0880c5;
$color-dark-blue: #172b4d;
$color-white: #ffffff;
$color-black: #000000;
$color-light-grey: #fafbfc;
$color-light-fill-grey: #ebecf0;
$color-grey: #5e6c84;
$color-dark-grey: #66748a;
$color-yellow: #f2d600;
$color-yellow-hover: #ffff00;
$color-red: #eb4c42;
$color-red-hover: #c82929;
$color-green: #008000;
$color-light-green: #06ff06;
$color-green-hover: #089708;
$color-dark-red: #c32222;
$color-light-red: #f3b4b0;
// Responsive
$minWidth: 320px;
$responsive-us: 480px;
$responsive-xs: 576px;
$responsive-sm: 768px;
$responsive-md: 992px;
$responsive-lg: 1200px;
$responsive-xl: 1400px;

// Fonts
$NSBold: "NotoSansBold", sans-serif;
$NSLight: "NotoSansLight", sans-serif;
$NSMedium: "NotoSansMedium", sans-serif;
$NSRegular: "NotoSansRegular", sans-serif;
$NSThin: "NotoSansThin", sans-serif;
