@import './fonts.scss';
// Colors
$color-blue: #026AA7;
$color-dark-blue: #172B4D;
$color-white: #ffffff;
$color-black: #000000;
$color-light-grey: #FAFBFC;
$color-light-fill-grey: #EBECF0;
$color-grey: #5E6C84;
$color-dark-grey: #66748A;
$color-yellow: #F2D600;

// Responsive
$minWidth: 320px;
$responsive-xs: 576px;
$responsive-sm: 768px;
$responsive-md: 992px;
$responsive-lg: 1200px;
$responsive-xl: 1400px;

// Fonts
$NSBold: 'NotoSansBold', sans-serif;
$NSLight: 'NotoSansLight', sans-serif;
$NSMedium: 'NotoSansMedium', sans-serif;
$NSRegular: 'NotoSansRegular', sans-serif;
$NSThin: 'NotoSansThin', sans-serif;